      <p>
        <b>Phone number:</b>
        <%= @user.phonenumber %>
      </p>
      <p>
        <b>Email:</b>
        <%= @user.email %>
      </p>
      <p>
        <b>Freecycle Group Name:</b>
        <%= @user.group_name%>
      </p>




