<h2 id="listhead">Items from FreeCycle</h2>

<div class="general">
  <ul class="shop-list">
    <% @listing.each do |listing|%>
        <li class="shop-list">
          <div class="shop-list-name">Item title: <%= listing[:title] %>
          <P>
          Click <%= link_to 'here for details', :controller=>"listings", :action => "getlisting", :group_name=>@groupname, :number=>listing[:number] %>
          </div>
        </li>
    <% end %>
  </ul>
</div>
