<h2 id="listhead">Items from FreeCycle</h2>

<div class="general">
  <ul class="shop-list">
    <% @listing.each do |item,info| %>
      <li class="shop-list">
        <div class="shop-list-name"><%= item %>, <%= info %></div>
      </li>
    <% end %>
  </ul>
</div>
