<h2>Enter the item you are interested in from Freecycle Oakland:</h2>


<form action="<%= searches_path + '/finditem/' %>" method="get">

  <input class="entryform-field" name="item" value="" id="addressfield"/>
    <p class="eg">e.g. Couch</p>
  <div class="buttondiv">
    <input class="button" id="submitbutton" type="submit" value="submit"/>
   
  </div>
<!-- <a href="#" id="locateme">use my current location </a>  -->
</form>

<div class="sms">
<p>or, text message your item search term to:</p>
<h1>1 (510) 606-8706</h1>
</div>

