<h2>Enter the item you are interested in from Freecycle Oakland:</h2>

<%= form_for :search, :url => finditem_searches_path, :method=>"get" do |f| %>
  <%= f.text_field  :search_words, :class=>"entryform-field" %>
  <%= f.text_field  :group_name, :class=>"entryform-field", :value=>"oaklandfreecycle" %>
  <p class="eg">e.g. Couch</p>
  <div class="buttondiv">
    <%= f.submit :value=>"submit", :class=>"button" %>
  </div>
<% end %>

<div class="sms">
<p>or, text message your item search term to:</p>
<h1>1 (510) 606-8706</h1>
</div>

