<h2 id="listhead">Item Detail from FreeCycle</h2>

<div class="general">
  <ul class="shop-list">
    <% @listing. %>
      <% if (dateoflisting != "") && (dateoflisting) %>
        <li class="shop-list">
          <div class="shop-list-name"><%= dateoflisting %><%= item %></div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
